.cards {
  padding-top: 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.cards__list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .cards {
    margin: 0 auto;
    
  }

  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    align-items: center;
    justify-content: center;
    gap: 20px 10px;
  }
}

@media screen and (max-width: 320px) {
  .cards__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px 10px;
  }
}
