.modal {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal_opened {
  visibility: visible;
  transition-delay: 0s;
  opacity: 1;
}

.modal__container {
  position: relative;
  background-color: #fff;
  padding: 32px 50px;
  min-width: 288px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__image-container {
  padding: 0;
  position: relative;
}


.modal__content_type_preview {
  padding: 0%;
  width: unset;
  transition: 0.3s;
  background-color: transparent;
  }

.modal__image {
  padding: 0;
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
}

.modal__close-btn {
  background-image: url(../images/close_button_hover.svg);
  background-color: transparent;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  opacity: .4;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__close-btn_preview {
  background-image: url("../images/modal_close.svg");
  position: absolute;
  top: 0px;
  right: -40px;
  padding: 0;
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__label {
  font-weight: 500;
  flex-direction: column;
  padding: 4px 8px;
  margin-bottom: 32px;
  color: #fff;
  background-color: #212121;
  width: fit-content;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal__input {
  font-size: 20px;
  font-weight: 500;
  color: #212121;
  padding: 16px 12px;
  border-radius: 8px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.modal__input:hover {
  border: none;
  border: 1px solid rgba(0, 0, 0, 1);
  cursor: pointer;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  transition: background 0.3s;
  cursor: pointer;
}

.modal__submit-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
    display: block;
  }

  .modal__input {
    display: flex;
    margin: auto;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 360px) {
  .modal__image {
    object-fit: cover;
    border-radius: 8px;
    max-width: 100vw;
    width: 288px;
  }

  .modal__label {
    display: block;
    
  }
}
