.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  opacity: 70%;
  background-color: transparent;
  border: 0;
  gap: 8px;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__new-post-btn {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-top: auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fcf5e5;
  background-color: #212121;
  border: none;
  height: 52px;
  gap: 8px;
  border-radius: 8px;
  padding: 18px 32px;
  cursor: pointer
}

.profile__new-post-btn:hover {
  opacity: 80%;
}
  
  @media screen and (max-width: 670px) {
    .profile__new-post-btn {
      width: 120px;
    }
  }

  @media screen and (max-width: 627px) {
    .profile {
      flex-direction: column;
      max-width: 288px;
      align-items: center;
      text-align: center;
      padding-top: 20px;
    }
  
    .profile__avatar {
      margin-right: 0;
      width: 80px;
      height: 80px;
      margin-bottom: 12px;
    }
  
    .profile__name {
      font-size: 20px;
      margin: 0 0 6px;
      max-width: 288px;
    }
  
    .profile__description {
      margin: 0 0 32px;
      max-width: 288px;
    }
  
    .profile__column {
      margin: 0 0 20px;
      align-items: center;
    }
  
    .profile__new-post-btn {
      margin: 0;
      width: 288px;
      justify-content: center; 
    }
  
    .profile__edit-btn {
      text-align: center;
      margin: 0;
    }
  }

  @media screen and (max-width: 560px) {
    .profile {
      padding-bottom: 36px;
      padding-top: 42px;
    }
  
    .profile__description {
      margin: 0;
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 480px) {
    
    .profile__description {
      width: 100%;
      text-align: center;
      margin-bottom: 36px;
    }
  
    .profile__new-post-btn {
      margin: 0;
      width: 282px;
    }
  
    .profile__edit-button {
      height: 18px;
      width: 18px;
    }
  }
  @media screen and (max-width: 320px) {
      .profile {
        padding: 20px 0 20px;
    }
    
      .profile__description{
      font-size: 16px;  
      }
  }